.vs/
.proj/
chromedriver.exe
PythonSTIntermediateStudyDemos_Project_1_16.pyproj
PythonSTIntermediateStudyDemos_Project_1_15.pyproj
instagramUserInfo.cpython-311.pyc
__pycache__
PythonSTIntermediateStudyDemos.pyproj
PythonSTIntermediateStudyDemos_Project_3_11.pyproj
PythonSTIntermediateStudyDemos_Project_2_2.pyproj
PythonSTIntermediateStudyDemos_Project_1_14.pyproj
PythonSTIntermediateStudyDemos_Project_1_11.pyproj
PythonSTIntermediateStudyDemos_Project_1_10.pyproj
PythonSTIntermediateStudyDemos_Project_1_012.pyproj
PythonSTIntermediateStudyDemos_Project_1_13.pyproj
PythonSTIntermediateStudyDemos_Project_1_09.pyproj
PythonSTIntermediateStudyDemos_Project_1_08.pyproj
PythonSTIntermediateStudyDemos_Project_1_19.pyproj
PythonSTIntermediateStudyDemos_Project_1_20.pyproj
imdb_top_1000.csv
PythonSTIntermediateStudyDemos_Project_1_25.pyproj
PythonSTIntermediateStudyDemos_Project_1_21.pyproj